absl-py==0.13.0
adam==0.0.0.dev0
astunparse==1.6.3
backcall==0.2.0
blinker==1.4
blis==0.7.4
cachetools==4.2.2
catalogue==2.0.1
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
chatbot==1.5.2b0
click==7.1.2
colorama==0.4.4
crypto==1.4.1
cryptography==3.4.7
cycler==0.10.0
cymem==2.0.5
Cython==0.29.23
decorator==5.0.9
extra-keras-datasets==1.2.0
Faker==8.11.0
Flask==1.1.2
Flask-Mail==0.9.1
flatbuffers==1.12
gast==0.4.0
gensim==4.1.0
google-auth==1.32.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
idna==2.10
imutils==0.5.4
ipython==7.24.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==1.1.1
MouseInfo==0.1.3
murmurhash==1.0.5
mysql-connector==2.2.9
Naked==0.1.31
nltk==3.6.2
numpy==1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.3
parso==0.8.2
pathy==0.4.0
pickleshare==0.7.5
preshed==3.0.5
prompt-toolkit==3.0.18
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.4.3
pydantic==1.7.3
PyGetWindow==0.0.9
Pygments==2.9.0
PyMsgBox==1.0.9
PyMySQL==1.0.2
pyparsing==2.4.7
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.26
PySimpleGUI==4.45.0
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2021.1
PyYAML==5.4.1
regex==2021.8.28
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scipy==1.6.2
scrypt==0.8.18
seaborn==0.11.1
shellescape==3.8.1
six==1.15.0
smart-open==3.0.0
spacy==3.0.5
spacy-legacy==3.0.2
srsly==2.4.0
text-unidecode==1.3
tf-slim==1.1.0
thinc==8.0.2
threadpoolctl==2.1.0
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.5
validate-email==1.3
wasabi==0.8.2
wcwidth==0.2.5
Werkzeug==2.0.1
wrapt==1.12.1
